version: '3.8'
services:
  # combined Node.js and Python app
  app:
    build: .
    ports:
      - "3000:3000" # Frontend
      - "8000:8000" # Backend API
    env_file:
      - ./backend/.env
    volumes:
      - .:/app
    depends_on:
      - db
    restart: always

  #Database
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=cosmic_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
